/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300;500&display=swap');
/* end imported fonts */

/* full document */
* {
    font-family: 'poppins';
    background-color: rgb(226, 223, 223);
}
/* end full document */


/* start heading text */
h2 {
    font-family: 'raleway';
    font-weight: 500;
    text-transform: capitalize;
    font-size: 75px;
    background-color: #ffc0cb;
    margin: 10px;
    padding: 40px;
}

/* end heading text*/

/* start hero & nav*/
h1 {
    font-size: 125px;
    font-weight: 500;
    background-color: #ffc0cb;
    margin-top: 20px;
    padding:10px;


}

h4 {
    font-weight: 300;
    font-size: 45px;
}

.hero, .nav{
    text-align: center;
    font-family: 'raleway';
    text-transform: capitalize;
    background-color: #ffc0cb;
}

button, a {
    text-decoration: none;
    text-transform: capitalize;
}
/* end hero & nav */

/* start about section */
#about img {
    height: 500px;
    width:auto;
    float: left;
    padding: 20px;
    margin: 5px;
}



/* end about section */
