/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300;500&display=swap');
/* end imported fonts */

/* full document */
* {
    font-family: 'poppins';
    background-color: rgb(226, 223, 223);
}
/* end full document */


/* start heading text */
h2 {
    font-family: 'raleway';
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-size: 50px;
    background-color: #ffc0cb;
  
    padding: 40px;
    max-width: fit-content;
    border-radius: 20%;
}

h4 {
    font-weight: 300;
    font-size: 45px;
    text-transform: capitalize;
}

p {
    margin: 10px;
}
/* end heading text*/

/* start back to top link */
.jump {
    text-decoration: none;
    font-size: 13px;  
}
/* end back to top link */

/* start hero & nav*/

/* .hero-image {
    background-image: url("/images\background-flowers.jpg");
    position:relative;
    background-position: center;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
} */

h1 {
    font-size: 125px;
    font-weight: 500;
    background-color: #ffc0cb;
    margin-top: 20px;
    padding:10px;
}

#top h4 {
    display: inline;
    background-color: #ffc0cb;
}

#top {
    background-color: #ffc0cb;
    max-width: max-content;
}

#top, .nav{
    text-align: center;
    font-family: 'raleway';
    text-transform: capitalize;
    margin: auto;
}

button a {
    text-decoration: none;
    text-transform: capitalize;
    margin: 50px;
    background-color:#ffc0cb;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    padding: 5px, 5px, 5px, 1px;
}

button {
    background-color: #ffc0cb;
}
/* end hero & nav */

/* start image section */
img {
    height: 500px;
    width:auto;
    padding: 20px;
    margin: 5px;
}

p {
    margin-top: 5px;
    padding-top: 20px;
}
/* end image section */

/* start about section */
#about img{
    float: left;
}
/* end about section */

/* start personality section */
#personality span {
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 10px;
}

#whatsup, #traveling {
    float: right;
}

#model {
    float: left;
}

.ul {
    text-transform: capitalize;
}

.list {
    padding: 5pxpx, 20px;
    display: inline-block;
}
/* end personality section */
